
// Funciones para hacer CSS3 mas facil

// Defenicion de funciones
@mixin border-radius($tamano: 50px) {
  -moz-border-radius: $tamano;
  -webkit-border-radius: $tamano;
  border-radius: $tamano;
} 

@mixin box-sizing($tipo: border-box){
  box-sizing: $tipo;
  -moz-box-sizing: $tipo;
  -webkit-box-sizing: $tipo;
}